#edit-notifications-grant-access {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.11111rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 0.88889rem;
	padding-right: 1.77778rem;
	padding-bottom: 0.94444rem;
	padding-left: 1.77778rem;
	font-size: 0.88889rem;
	background-color: #008CBA;
	border-color: #007295;
	color: #fff;
	transition: background-color 300ms ease-out;	
}

#edit-notifications-grant-access:focus, #edit-notifications-grant-access:hover {background-color: #007295;color: #fff;}

#edit-notifications-grant-access.warning {background-color: #f04124;border-color: #cf280e;}
#edit-notifications-grant-access.warning:focus, #edit-notifications-grant-access.warning:hover {background-color: #cf280e;}

#edit-notifications-grant-access[disabled] {box-shadow:none;cursor:default;opacity:0.7;pointer-events:none;}

#edit-notifications-grant-access.success { background:#2ecc71;border-color:#27ae60;}
#edit-notifications-grant-access.success:focus, #edit-notifications-grant-access.success:hover {background-color:#27ae60;}







#edit-messages-html-selector {
	-webkit-appearance: none;
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.77778rem;
	margin: 0 0 0.88889rem 0;
	padding: 0.44444rem;
	height: 2.05556rem;
	width: 100%;
	max-width:300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}